@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container" style="display: grid; grid-template-rows: 300px 150px 300px; width: 80%; gap: 15px; margin-top: 15px; margin-left: 10%">
    <div class="item1" style="grid-area: 1/1/1/1">
        <div style="height: 50%; margin-bottom: 8px; background-image: url(https://thelivenagpur.com/wp-content/uploads/2020/02/cloudy.jpg); border: none;border-radius: 2px;box-shadow: 0 0px 10px 0 rgba(70, 76, 79, .2); ">
            <div style="height: 20%; background-color: #367C60">
                <p style="color: white">Location here</p>
            </div>
            <p style="color: white">Weather Information here</p>
        </div>
        <div class="row" style="height: 50%; width: 100%; margin-left: 0px; background-color: aquamarine; border: none;border-radius: 2px;box-shadow: 0 0px 10px 0 rgba(70, 76, 79, .2);">
            <div style="height: 95%; width: 19%; margin: 2px; margin-left: 7.5px; margin-top: 3px; background-color: beige"> day 1</div>
            <div style="height: 95%; width: 19%; margin: 2px; margin-top: 3px; background-color: beige"> day 2</div>
            <div style="height: 95%; width: 19%; margin: 2px; margin-top: 3px; background-color: beige"> day 3</div>
            <div style="height: 95%; width: 19%; margin: 2px; margin-top: 3px; background-color: beige"> day 4</div>
            <div style="height: 95%; width: 19%; margin: 2px; margin-top: 3px; background-color: beige"> day 5</div>
        </div>
    </div>
    <div class="item2" style="grid-area: 1/2/5/4; width: 100%">
        <iframe style="background: #FFFFFF; border: none;border-radius: 2px;box-shadow: 0 0px 10px 0 rgba(70, 76, 79, .2); width:100%; height:100%" src="https://charts.mongodb.com/charts-demeter-bzxtp/embed/charts?id=628313c5-b619-438f-83cb-abc4d0becf2e&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="item3" style="grid-area: 2/1/5/1; border: none;border-radius: 2px;box-shadow: 0 0px 10px 0 rgba(70, 76, 79, .2);  width: 100%; background-color: aquamarine">Chart here</div>
</div>
