<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demeter Weather</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/logo.jpg" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-map.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/geodata/countries/vietnam/vietnam.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js" data-export="true"></script>
    <script>
        $(function() {
            $("#txtCountry").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/Home/LocationList/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function(data) {
                            response($.map(data, function(item) {
                                return item;
                            }))
                        },
                        error: function(reposnse) {
                            alert(reposnse.responseText);
                        },
                        failure: function(reposnse) {
                            alert(reposnse.reposnseText);
                        }
                    });
                },
            });
        });
    </script>
</head>
<body  onload="getLocation()" style="background-color: #F5FAF7">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 0%">
            <div class="container-fluid" style="margin-left: 10%; width: 80.4%">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.jpg" width="80" height="55"/>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav row">
                        <li class="nav-item">
                            <a class="nav-link text-dark Roboto-Regular" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark Roboto-Regular" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                    <div id="clock" class="Roboto-Medium" style="margin-left: 13%; font-size: 40px"></div>
                    <form style="width: 30%" asp-area="" asp-controller="Locations" asp-action="Index" method="get">
                        <input class="form-control col-lg-12 Roboto-Light" type="text" id="txtCountry" name="locationName" placeholder="Search any location..." value="@ViewData["Location"]" />
                    </form>
                </div>
            </div>
        </nav>
        <div id="loading">
            <img id="loading-image" src="~/page_loading.gif" alt="Loading..." />
        </div>
    </header>
    <div class="container-fluid" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>